body {
    font-family: 'Didact Gothic', sans-serif;
}
.container.content {
    margin-top: 60px;
}
.thumbnail {
    width: 100%;
}

.caption-details {
    padding: 2%;
}

/* Override Bootstraps Styles */
.navbar-default {
    background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .container {
    margin-top: 12px;
}

.navbar-default li {
    margin-right: 20px;
    cursor: pointer;
    color:white;
}

.navbar-default li.active {
    background-color: white;
    color: #000;
    border-radius: 3px;
    padding: 2px 8px;
}
